# {{ block.name }} Block

You can output a `{{ block.name }}` block using the {{ syntax_name }}.

## Syntax Format

{{ syntax_format }}

{% if block.description %}
## Description

{{ block.description }}

{% if block.usage %}
{{ block.usage }}
{% endif %}
{% endif %}
{% if block.content_format %}
## Content Format

{{ block.content_format }}
{% endif %}
{% if block.metadata_schema.properties %}
## Metadata Fields

{% for field_name, field_info in block.metadata_schema.properties.items() %}
{% if field_info.description %}
- `{{ field_name }}` - {{ field_info.description }}
{% else %}
- `{{ field_name }}`
{% endif %}
{% endfor %}
{% endif %}
{% if block.examples %}
## Examples

{% for example in block.examples %}
```
{{ example }}
```

{% endfor %}
{% endif %}
